.tasks__list {
  width: 100%;
  margin-bottom: 40px;
}

.tasks__item {
  margin-bottom: 15px;
}

.tasks__label {
  position: relative;
  display: flex;
  min-height: 40px;
  margin-left: 40px;
  padding-left: 10px;
  line-height: 40px;
  color: var(--placeholder-grey);
  background-color: var(--field-grey);
  border-radius: 3px;
}

.tasks__input + .tasks__indicator::before {
  content: url("../../img/checkbox-off.svg");
  position: absolute;
  width: 30px;
  height: 27px;
  top: calc(50% - 14px);
  left: -40px;
}

.tasks__input:checked + .tasks__indicator::after {
  content: url("../../img/checkbox-on.svg");
  position: absolute;
  width: 24px;
  height: 16px;
  top: 0;
  left: -34px;
}

.tasks__trash {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  background-image: url("../../img/trash_icon_2.png");
  background-size: 20px 20px;
}

.tasks__item:hover .tasks__trash{
  display: block;
}